<!DOCTYPE html>
<html>
  <head>
    <meta lang="pt-br" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/output.css" rel="stylesheet" />
    <title>Lista de Alunos</title>
  </head>
  <body>
    <header>
      <nav class="flex justify-between bg-zinc-800 py-5 px-4">
        <div class="flex items-center gap-4">
          <a href="/"><img src="/icons/back_arrow.svg" /></a>
          <h1 class="font-jaro text-zinc-50 text-3xl">GymFit</h1>
        </div>
      </nav>
    </header>

    <main class="text-center mt-10 text-white mx-4 flex-grow">
      <div class="container mx-auto bg-zinc-600">
        <h2>Alunos do Personal</h2>
        <ul>
          <% alunos.forEach(aluno => { %>
            <li><%= aluno.nome %> - <%= aluno.email %></li>
          <% }); %>
        </ul>
      </div>
    </main>

    <footer class="text-zinc-200 p-4 text-center">
      <p>&copy; GymFit</p>
    </footer>
  </body>
</html>
