<!DOCTYPE html>

<html>
  <head>
    <meta lang="pt-br" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/output.css" rel="stylesheet" />
    <title>Menu Personal</title>
  </head>

  <body class="flex flex-col min-h-screen">
    <header>
      <nav class="flex justify-between bg-zinc-800 py-5 px-4">
        <div class="flex items-center gap-4">
          <a href="/"><img src="/icons/back_arrow.svg" /></a>
          <h1 class="font-jaro text-zinc-50 text-3xl">GymFit</h1>
          <!-- <img src="/icons/GymFit.svg" /> -->
        </div>
      </nav>
    </header>

    <main class="text-center mt-10 text-white mx-4 flex-grow">
      <div class="container mx-auto bg-zinc-600 p-3 rounded-md">
        <div class="grid grid-cols-2 gap-4 text-xl">
          <a href="/personal/perfilPersonal/<%= id %>">
            <div
              class="bg-white shadow-md rounded p-3 flex flex-col justify-center items-center"
            >
              <div class="rounded-full p-2 bg-pink-200">
                <img src="/icons/user.svg" class="w-8 h-8" />
              </div>
              <p class="font-zain text-black mt-2">Perfil</p>
            </div>
          </a>

          <a href="/personal/listaAlunos/<%= id %>">
            <div
              class="bg-white shadow-md rounded p-3 flex flex-col justify-center items-center"
            >
              <div class="rounded-full p-2 bg-pink-200">
                <img src="/icons/user.svg" class="w-8 h-8" />
              </div>
              <p class="font-zain text-black mt-2">Alunos</p>
            </div>
          </a>

          <a href="/personal/treinos/<%= id %>">
            <div
              class="bg-white shadow-md rounded p-3 flex flex-col justify-center items-center"
            >
              <div class="rounded-full p-2 bg-pink-200">
                <img src="/icons/user.svg" class="w-8 h-8" />
              </div>
              <p class="font-zain text-black mt-2">Treinos</p>
            </div>
          </a>

          <a href="/personal/criarExercicio/<%= id %>">
            <div
              class="bg-white shadow-md rounded p-3 flex flex-col justify-center items-center"
            >
              <div class="rounded-full p-2 bg-pink-200">
                <img src="/icons/user.svg" class="w-8 h-8" />
              </div>
              <p class="font-zain text-black mt-2">Criar Exercicio</p>
            </div>
          </a>
        </div>
      </div>
    </main>

    <footer class="text-center py-4 text-sm bg-zinc-800">
      <p class="text-zinc-50">&copy Luís Felipe, Edney Araujo, Marília</p>
    </footer>
  </body>
</html>
