<!DOCTYPE html>

<html>
  <head>
    <meta lang="pt-br" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/output.css" rel="stylesheet" />
    <title>Menu Professor</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <header>
      <nav class="flex justify-between bg-zinc-800 py-5 px-4">
        <div class="flex items-center gap-4">
          <a href="/"><img src="/icons/back_arrow.svg" /></a>
          <h1 class="font-jaro text-zinc-50 text-3xl">GymFit</h1>
          <!-- <img src="/icons/GymFit.svg" /> -->
        </div>
      </nav>
    </header>

    <main class="text-center mt-10 text-white mx-4">
      <div class="container mx-auto">
        <div class="grid grid-cols-2 gap-4">
          <div class="bg-white shadow-md rounded p-3 flex justify-center items-center">
            <div class="rounded-full p-2 bg-pink-200">
              <img src="/icons/user.svg" class="w-8 h-8">
            </div>
          </div>

          <div class="bg-white shadow-md rounded p-3 flex justify-center items-center">
            <div class="rounded-full p-2 bg-pink-200">
              <img src="/icons/user.svg" class="w-8 h-8">
            </div>
          </div>

          <div class="bg-white shadow-md rounded p-3 flex justify-center items-center">
            <div class="rounded-full p-2 bg-pink-200">
              <img src="/icons/washer.svg" class="w-8 h-8">
            </div>
          </div>

          <div class="bg-white shadow-md rounded p-3 flex justify-center items-center">
            <div class="rounded-full p-2 bg-pink-200">
              <img src="/icons/graphic.svg" class="w-8 h-8">
            </div>
        </div>
        </div>
      </div>
    </main>
    <footer class="text-zinc-200">
      <p>&copy Luís Felipe, Edney Araujo, Marília</p>
    </footer>
  </body>
</html>
