<!DOCTYPE html>

<html>
  <head>
    <meta lang="pt-br" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/output.css" />
    <script src="/scripts/academiaCadastro.js" defer ></script>
    <title>Cadastro</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <header>
      <nav class="flex justify-between bg-zinc-800 py-5 px-4">
        <div class="flex items-center gap-4">
          <a href="/academia"><img src="/icons/back_arrow.svg" /></a>
          <h1 class="font-jaro text-zinc-50 text-3xl">GymFit</h1>
          <!-- <img src="/icons/GymFit.svg" /> -->
        </div>
      </nav>
    </header>

    <main class="text-center my-10 text-white mx-4 flex-grow">
      <section class="font-zain bg-zinc-50 text-zinc-950 py-4 rounded-2xl">
        <h2 class="text-4xl">Cadastrar</h2>
        <form action="/academia/cadastro" method="post" class="flex flex-col text-2xl gap-6 text-black max-w-screen-sm">
          <div class="flex flex-col gap-2 px-6">
            <label class="text-start" for="nome">Nome</label>
            <input
              class="border-2 border-black rounded-full bg-pink-50 text-lg px-2 py-1 text-center"
              type="text" name="nome" required minlength="3" maxlength="40"    placeholder="O nome deve conter apenas letras e espaços"
            />
          </div>

          <div class="flex flex-col gap-2 px-6">
            <label class="text-start" for="cnpj">CNPJ</label>
            <input
              class="border-2 border-black rounded-full bg-pink-50 text-lg px-2 py-1 text-center"
              type="text"
              name="cnpj"
              required maxlength="18"  title="Digite um cnpj com 14 digitos" placeholder="00.000.000/0000-00"
            />
          </div>

          <div class="flex flex-col gap-2 px-6">
            <label class="text-start" for="email">Email</label>
            <input
              class="border-2 border-black rounded-full bg-pink-50 text-lg px-2 py-1 text-center"
              type="email"
              name="email"
              placeholder="seuemail@exemplo.com" required
            />
          </div>

          <div class="flex flex-col gap-2 px-6">
            <label class="text-start" for="senha">Senha</label>
            <input
              class="border-2 border-black rounded-full bg-pink-50 text-lg px-2 py-1 text-center"
              type="password"
              name="senha"
              placeholder="*****" required minlength="4"
            />
          </div>

          <div class="flex flex-row px-6 gap-3">
            <div class="flex flex-col w-2/3 gap-2">
              <label class="text-start" for="cidade">Cidade</label>
              <input
                class="border-2 border-black rounded-full bg-pink-50 text-lg px-2 py-1 text-center"
                type="text"
                name="cidade"
                placeholder="Cidade" required  minlength="3"
              />
            </div>
            <div class="flex flex-col w-1/3 gap-2">
              <label class="text-start" for="uf">UF</label>
              <select
                name="uf"
                id="uf" 
                class="border-2 border-black rounded-full bg-pink-50 text-lg px-2 py-1 text-center"
              >
                <option value="SP">SP</option>
                <option value="MG">MG</option>
                <option value="RJ">RJ</option>
              </select>
            </div>
          </div>

          <div class="flex flex-row px-6 gap-3">
            <div class="flex flex-col w-2/3 gap-2">
              <label class="text-start" for="logradouro">Logradouro</label>
              <input
                class="border-2 border-black rounded-full bg-pink-50 text-lg px-2 py-1 text-center"
                type="text"
                name="logradouro"
                placeholder="Logradouro" required  minlength="3"
              />
            </div>
            <div class="flex flex-col w-1/3 gap-2">
              <label class="text-start" for="numero">N°</label>
              <input
                class="border-2 border-black rounded-full bg-pink-50 text-lg px-2 py-1 text-center"
                type="text"
                name="numero"
                placeholder="123" required maxlength="4" 
              />
            </div>
          </div>

          
          <div class="flex flex-col gap-2 px-6">
            <label class="text-start" for="bairro">Bairro</label>
            <input
              class="border-2 border-black rounded-full bg-pink-50 text-lg px-2 py-1 text-center"
              type="text"
              name="bairro"
              placeholder="Bairro" required minlength="3"
            />
          </div>
         
          <div class="flex flex-col gap-2 px-6">
            <label class="text-start" for="cep">Cep</label>
            <input
              class="border-2 border-black rounded-full bg-pink-50 text-lg px-2 py-1 text-center"
              type="text"
              name="cep"
               required maxlength="9" title="digite um cep com 8 digitos" placeholder="0000-000"
            />
          </div>

          <div class="flex flex-col gap-2 px-6">
            <label class="text-start" for="telefone">Telefone</label>
            <input
              class="border-2 border-black rounded-full bg-pink-50 text-lg px-2 py-1 text-center"
              type="tel"
              name="telefone"
              required maxlength="15" title="Digite um telefone com 10 ou 11 digitos"  placeholder="(00) 00000-0000"
              
            />
          </div>

          <button
            class="bg-neonGreen rounded-xl py-2 hover:bg-neonGreenHover transition-colors text-zinc-50 font-zain text-4xl mx-12">
            Cadastrar
          </button>
          
        </form>
       
      </section>
    </main>

    
  </body>
</html>