<!DOCTYPE html>

<html>
  <head>
    <meta lang="pt-br" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./styles/output.css" rel="stylesheet" />
    <title>Login</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <header>
      <nav class="flex justify-between bg-zinc-800 py-5 px-4">
        <div class="flex items-center gap-4">
          <a href="/"><img src="/icons/back_arrow.svg" /></a>
          <h1 class="font-jaro text-zinc-50 text-3xl">GymFit</h1>
        </div>
      </nav>
    </header>

    <main class="text-center mt-10 text-white mx-4 flex-grow">
      <section class="font-zain bg-zinc-50 text-zinc-950 py-4 rounded-2xl">
        <h2 class="text-4xl">Login</h2>
        <form id="loginFormAcad" class="flex flex-col text-2xl">
          <div class="flex flex-col gap-2 px-6 mb-6">
            <label class="text-start" for="email">Email</label>
            <input
              class="border-2 border-black rounded-full bg-pink-50 text-lg px-2 py-1 text-center"
              type="text"
              name="email"
              id="email"
              placeholder="seuemail@exemplo.com.br"
              required
            />
          </div>
          <div class="flex flex-col gap-2 px-6 mb-12">
            <label class="text-start" for="senha">Senha</label>
            <input
              class="border-2 border-black rounded-full bg-pink-50 text-lg px-2 py-1 text-center"
              type="password"
              name="senha"
              id="senha"
              placeholder="*********" required minlength="6"
            />
          </div>
          <button
            type="submit" class="bg-neonGreen rounded-xl py-2 hover:bg-neonGreenHover transition-colors text-zinc-50 font-zain text-4xl mx-12"
          >
            Login
          </button>
        </form>
        <p class="font-body text-2xl text-end mr-2 text-zinc-600">
          <a href="/academia/cadastro">cadastrar</a>
        </p>
      </section>
    </main>
   <script src="/scripts/academiaLogin.js"></script>
   
    <footer class="text-zinc-200 p-4 text-center">
      <p>&copy Luís Felipe, Edney Araujo, Marília</p>
    </footer>

    <script src="./scripts/academiaLogin.js"></script>
  </body>
</html>
