<!DOCTYPE html>

<html>
  <head>
    <meta lang="pt-br" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/output.css" rel="stylesheet" />
    <title>Menu Academia</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <header>
      <nav class="flex justify-between bg-zinc-800 py-5 px-4">
        <div class="flex items-center gap-4">
          <a href="/"><img src="/icons/back_arrow.svg" /></a>
          <h1 class="font-jaro text-zinc-50 text-3xl">GymFit</h1>
          <!-- <img src="/icons/GymFit.svg" /> -->
        </div>
      </nav>
    </header>

    <main class="text-center mt-10 text-white mx-4 flex-grow font-zain">
      <div class="container mx-auto  bg-zinc-600 p-3 rounded-md">
        <div class="grid grid-cols-2 gap-4">
          <a href="/academia/perfil">
          <div class="bg-white shadow-md rounded-lg p-3 flex flex-col justify-center items-center">
            <div class="rounded-full p-2 bg-pink-200">
              <img src="/icons/user.svg" class="w-8 h-8">
            </div>
            <p class="text-black text-xl font-bold">Perfil</p>
          </div>
          </a>

          <a href="/academia/alunos">
          <div class="bg-white shadow-lg rounded-lg p-3 flex flex-col  justify-center items-center">
            <div class="rounded-full p-2 bg-pink-200">
              <img src="/icons/user.svg" class="w-8 h-8">
            </div>
            <p class="text-black text-xl font-bold">Alunos</p>
          </div>
          </a>

          <a href="/academia/personais">
          <div class="bg-white shadow-md rounded-lg p-3 flex flex-col justify-center items-center">
            <div class="rounded-full p-2 bg-pink-200">
              <img src="/icons/user.svg" class="w-8 h-8">
            </div>
            <h2 class="text-black text-xl font-bold">Personais</h2>
          </div>
          </a>

          <a href="/academia/treinos">
          <div class="bg-white shadow-md rounded-lg p-3 flex flex-col justify-center items-center">
            <div class="rounded-full p-2 bg-pink-200">
              <img src="/icons/washer.svg" class="w-8 h-8">
            </div>
            <p class="text-black text-xl font-bold">Treinos</p>
          </div>
          </a>

          <a href="/academia/aparelhos">
          <div class="bg-white shadow-md rounded-lg p-3 flex flex-col  justify-center items-center">
            <div class="rounded-full p-2 bg-pink-200">
              <img src="/icons/washer.svg" class="w-8 h-8">
            </div>
            <p class="text-black text-xl font-bold">Equipamento</p>
          </div>
          </a>

          <a href="/academia/relatorio">
          <div class="bg-white shadow-md rounded-lg p-3 flex flex-col  justify-center items-center">
            <div class="rounded-full p-2 bg-pink-200">
              <img src="/icons/graphic.svg" class="w-8 h-8">
            </div>
            <p class="text-black text-xl font-bold">Relatorios</p>
          </div>
          </a>

        </div>
      </div>
    </main>
    <footer class="text-zinc-200">
      <p>&copy Luís Felipe, Edney Araujo, Marília</p>
    </footer>
  </body>
</html>